

body {
  background-color: lightgrey;
}






h1 {
  margin: 2%;
    color: darkgrey;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;

}

img {
  display: block;

  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;

  }

.row{
      font-family: Arial, sans-serif;
      font-weight: bold;
      background-color: darkgray;
      color: black;
      align-self: center;
}
.row > a{
  color: black;}

@media (min-width: 1000px) {
  h1 {
      font-size: 50px;
  }
  img{
    width:30%;
  }
  .row > a{
    padding-top: 2.5%;
  }
  .row > div{
    font-size: 24px;
    padding: 2%;
  }

}
@media (max-width: 999px) {
  h1{
    font-size: 100px;
  }
  img {
    width: 90%;
  }
  .row{
    font-size: 40px;
    align-self: center;
  }
}

.row > a:hover {
    background-color: gray;
}





p {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.btn{
  margin: 2%;
}
