

body {
  background-color: lightgrey;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  margin-top: 1%;
    color: darkgrey;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;

}


#propic {
  display: block;

  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;

}

.logo_container {
  align-self: center;
  align: center;
    display: flex;
    flex-wrap: wrap;
}
.logo_container > a{

    margin: 5%;
}


.row{
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: darkgray;
  color: black;
  align-self: center;
}
.row > a{
  color: black;
}
.row > a:hover {
  background-color: gray;
}

@media (min-width: 1000px) {
  h1 {
      font-size: 50px;
  }
  #propic{
    width:30%;
  }
  .row > a{
    padding-top: 1.5%;
    color: black;
  }
  .row > div{
    font-size: 24px;
    padding: 1%;
  }
  p {
    font-size: 24px;
  }
  .logo>img{
      height:   180px;
      margin: 5%;
  }


}
@media (max-width: 999px) {
  h1{
    font-size: 100px;
  }
  #propic {
    width: 90%;
  }
  .row{
    font-size: 80px;
    align-self: center;
  }
  p {
    font-size: 60px;
  }
  #nome {
    display: none;
  }
  .logo>img{
      height:   260px;
      margin: 5%;
  }

}


p {
    margin-top: 2%;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
